@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

body {
    background: #023047;
}

div.timer {
    background: #02283C;
}

.container-simple {
    background-color: #023047;
}

.status-bar {
    background-color: #02283C;
}

.content .tabbed-box .tabbed-box-content table tr.current {
    background-color: #FB8500;
    border-bottom: 1px solid #8ECAE6;
}

.content .tabbed-box .tabbed-box-content {
    background: #012232;
}

.well-checkbox {
    border: 0px;
}

.current tr.current {
    background-color: #FB8500;
}

a.logo {
    visibility: hidden
}

div.header {
    background: linear-gradient(to bottom, #011119 0%, #011119 100%);
    box-shadow: 0 0px 0px #111;
}

.btn-pause {
    background: #FFB703;
    color: #333;
    border-color: #bb9511;
    text-shadow: -1px -1px 0 #bb9511;
    max-width: 390px;
    margin: 0 auto;
}

.btn-cta {
    background: #FB8500;

    color: #fff;
    text-shadow: -1px -1px 1px #b5050e;
}

.btn-go {
    background: #219EBC;
    color: #fff;
}

.btn-go:hover {
    background: #25AFD0;
}

.time span {
    text-shadow: 0 3vw 0 #012232;
}

.time .milliseconds {
    color: #FFB703;
}

div.footer {
    visibility: hidden;
    display: none;
}

.content .tabbed-box .tabbed-box-content table tr {
    border-bottom: 1px solid #8ECAE6;
}

.btn-link {
    color: #8ECAE6;
    font-weight: normal;
    border-radius: 0;
}

.content .tabbed-box .tabs {
    background: #011119;
    border-bottom: 1px solid #333;
    padding: 0 20px;
}
.content .tabbed-box .tabs a {
    font-family: 'bebas_neueregular', Arial, Helvetica, sans-serif;
    color: #1B8098;
    font-size: 40px;
    width: 50%;
    float: left;
}

.content .tabbed-box .tabbed-box-content table th {
    font-weight: normal;
    color: #8ECAE6;
    font-size: 12px;
    padding-bottom: 8px;
    text-align: left;
}
