/* ==UserStyle==
@name           marinaratimer-experiments.vercel.app - 6/10/2022, 11:03:22 AM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("marinaratimer-experiments.vercel.app") {
    body {
        display: flex;
    }
    #__next {
        margin: 0 auto;
        position: absolute;
        width: 100%;
        margin-left: 0%;
        transform: translateY(50%);
    }
    #__next > div.chakra-stack.css-1i5c5ze {
        display: none;
        visibility: hidden;
    }
}
