.main-leaderboardComponent-container {
    display: none;
    visibility: hidden;
}

#main > div > div.Root__top-container > div.Root__main-view > div.main-view-container > div.os-host.os-host-foreign.os-theme-spotify.os-host-resize-disabled.os-host-scrollbar-horizontal-hidden.main-view-container__scroll-node.os-host-transition.os-host-overflow.os-host-overflow-y > div.os-padding > div > div > div.main-view-container__scroll-node-child > main > div.WiPggcPDzbwGxoxwLWFf.contentSpacing {
    display:none;
    visibility: hidden;
}

.main-topBar-UpgradeButton {
    display:none;
    visibility: hidden;
}
